.movie-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
  }
  
  .movie-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  
  .movie-tile {
    position: relative;
    transition: transform 0.3s ease-in-out;
    min-width: 150px;
  }
  
  .movie-tile img {
    width: 150px;
    border-radius: 10px;
  }
  
  .movie-tile:hover {
    transform: scale(1.1);
  }
  
  .movie-tile p {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 5px;
  }
  